<form id="pagerForm" method="post" action="">
    <input type="hidden" name="page_size" value="{{.page_size}}"/>
    <input type="hidden" name="page_index" value="{{.page_index}}"/>
    <input type="hidden" name="startTime" dateFmt="yyyy-MM-dd HH:mm:ss" value="{{.condition.StartTime}}"/>
    <input type="hidden" name="endTime" dateFmt="yyyy-MM-dd HH:mm:ss" value="{{.condition.EndTime}}"/>
    <input type="hidden" name="columnName"  value="{{.condition.ColumnName}}"/>
    <input type="hidden" name="individualVal"  value="{{.condition.IndividualValue}}"/>
    <input type="hidden" name="startNumber"  value="{{.condition.StartNumber}}"/>
    <input type="hidden" name="endNumber"  value="{{.condition.EndNumber}}"/>
<input type="hidden" name="ctype"  value="555"/>
</form>
<div class="pageHeader" id="table_name_{{$.table_name}}">
    <form action="" onsubmit="return navTabSearch(this);" method="post">
        <div class="searchBar" style="padding:0px 0 0px 0">
            <table class="searchContent">
                <tr>
                    <td>查询的字段：
                        <select name="columnName" onchange="showInput(this)" id="columnName">
                            <option value="" {{if eq $.condition.ColumnName ""}}selected{{end}}>请选择</option>
                            {{if $.indexs}}
                            {{range $id,$index:=$.indexs}}
                            <option value="{{$index.NameKey}}" dataType="{{$index.Type}}" {{if eq $.condition.ColumnName $index.NameKey}}selected{{end}}>{{if eq $index.Comment ""}} {{$index.IndexColumn}} {{else}} {{$index.Comment}} {{end}} </option>
                            {{end}}
                            {{end}}
                        </select>
                        <select name="ctype" onchange="showConditionType(this)" id="ctype">
                        <option value="0" {{if eq .condition.CType 0}}selected{{end}}>单值</option>
                        <option value="1" {{if eq .condition.CType 1}}selected{{end}}>时间范围</option>
                        <option value="2" {{if eq .condition.CType 2}}selected{{end}}>数值范围</option>
                        </select>
                    </td>
                    <td id="show_one" {{if eq .condition.CType 0}}style="display:block"{{else}}style="display:none"{{end}}>
                    <input type="text" maxlength="50" name="individualVal" value="{{.condition.IndividualValue}}"/>
                    </td>
                    <td id="date_one" {{if eq .condition.CType 1}}style="display:block"{{else}}style="display:none"{{end}}>
                    时间区间：
                    <input type="text" name="startTime" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" readonly="true"
                           style="width:120px;" value="{{.condition.StartTime}}"/>--
                    <input type="text" name="endTime" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" readonly="true"
                           style="width:120px;" value="{{.condition.EndTime}}"/>
                    </td>
                    <td id="number_one" {{if eq .condition.CType 2}}style="display:block"{{else}}style="display:none"{{end}}>
                        数字区间：>=
                        <input type="text" maxlength="50" name="startNumber" value="{{.condition.StartNumber}}"/><=
                        <input type="text" maxlength="50" name="endNumber" value="{{.condition.EndNumber}}"/>
                    </td>
                </tr>
                <tr>
                    <td style="color:red;" colspan="2">
                        <button type="submit">查询</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>


<div class="pageContent">
    <table class="list" width="100%" layoutH="138">
        <thead>
        <tr>
            {{if .columns}}
            {{range $k,$column:=.columns}}
            <th width="10%">
            {{if eq $column.Comment ""}}  {{$column.Name}}  {{else}}  {{$column.Comment}}{{ end}}
 </th>
            {{end}}
            {{end}}
            <th width="10%">操作</th>
        </tr>
        </thead>
        <tbody style="word-wrap:break-word;word-break:break-all">
        {{if .val_ary}}
        {{range $k,$row :=.val_ary}}
        <tr style="word-wrap:break-word;">
            {{if $row}}
            {{range $columnName,$columnVal:=$row}}
            <td title="{{$columnName}}">
                {{$columnVal}}
                    </td>
            {{end}}
            {{end}}
            <td>
               {{/*
                <a title="确实要删除这些记录吗？" target="ajaxTodo" style="display: none;" href="/DBManageController/remove?key={{$.perkey}}&{{$.perkey}}={{FormatMap $v $.perkey}}&tb_name={{$.db_tableName}}&ext_check={{$.db_tableName}}" warn="请选择一个操作对象"
                                  class="btnDel">删除</a>
                               <a target="dialog" href="/DBManageController/edit?key={{$.perkey}}&{{$.perkey}}={{FormatMap $v $.perkey}}&tb_name={{$.db_tableName}}&ext_check={{$.db_tableName}}" class="btnEdit"  width="800" height="650" resizable="false"
                                  warn="请选择一个操作对象" mask="true">编辑</a>
               */}}
            </td>
        </tr>
        {{end}}
        {{end}}
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
             <select class="combox" name="page_size" onchange="navTabPageBreak({numPerPage:this.value})">
                                     <option value="5" {{if eq .page_size 5}}selected{{end}}>5</option>
                                      <option value="15" {{if eq .page_size 15}}selected{{end}}>15</option>
                                       <option value="50" {{if eq .page_size 50}}selected{{end}}>50</option>
                                 </select>
            <span>条,共{{.total_count}}条</span>
        </div>
        <div class="pagination" targetType="navTab" total_count="{{.total_count}}" numPerPage="{{.page_size}}" page_indexShown="5"
             currentPage="{{.page_index}}"></div>
    </div>
</div>