<form id="pagerForm" method="post" action="">
    <input type="hidden" name="numPerPage" value="{{.numPerPage}}"/>
    <input type="hidden" name="pageNum" value="{{.pageNum}}"/>
    <input type="hidden" name="startTime" dateFmt="yyyy-MM-dd HH:mm:ss" value="{{.startTime}}"/>
    <input type="hidden" name="endTime" dateFmt="yyyy-MM-dd HH:mm:ss" value="{{.endTime}}"/>
    <input type="hidden" name="idxNameKey"  value="{{.idxNameKey}}"/>
    <input type="hidden" name="individualVal"  value="{{.individualVal}}"/>
    <input type="hidden" name="startNumber"  value="{{.startNumber}}"/>
    <input type="hidden" name="endNumber"  value="{{.endNumber}}"/>
<input type="hidden" name="ctype"  value="555"/>
</form>
<div class="pageHeader" id="table_name_{{$.tableName}}">
    <form action="" onsubmit="return navTabSearch(this);" method="post">
        <div class="searchBar" style="padding:0px 0 0px 0">
            <table class="searchContent">
                <tr>
                    <td>查询的字段：
                        <select name="idxNameKey" onchange="onChangeIdx(this)" id="idxNameKey">
                            <option value="" {{if eq $.idxNameKey ""}}selected{{end}}>请选择</option>
                            {{if $.indexs}}
                            {{range $id,$index:=$.indexs}}
                            <option value="{{$index.NameKey}}" dataType="{{$index.Type}}" {{if eq $.idxNameKey $index.NameKey}}selected{{end}}>{{if eq $index.Comment ""}} {{$index.IndexColumn}} {{else}} {{$index.Comment}} {{end}} </option>
                            {{end}}
                            {{end}}
                        </select>
                        <select name="ctype" onchange="onChangeIdxType(this)" class="{{$.tableName}}" id="ctype">
                        <option value="0" {{if eq .ctype 0}}selected{{end}}>单值</option>
                        <option value="1" {{if eq .ctype 1}}selected{{end}}>时间范围</option>
                        <option value="2" {{if eq .ctype 2}}selected{{end}}>数值范围</option>
                        </select>
                    </td>
                    <td id="show_one" {{if eq .ctype 0}}style="display:block"{{else}}style="display:none"{{end}}>
                    <input type="text" maxlength="50" id="individualVal" name="individualVal" value="{{.individualVal}}"/>
                    </td>
                    <td id="date_one" {{if eq .ctype 1}}style="display:block"{{else}}style="display:none"{{end}}>
                    时间区间：
                    <input type="text" name="startTime" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" readonly="true"
                           style="width:120px;" value="{{.startTime}}"/>--
                    <input type="text" name="endTime" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" readonly="true"
                           style="width:120px;" value="{{.endTime}}"/>
                    </td>
                    <td id="number_one" {{if eq .ctype 2}}style="display:block"{{else}}style="display:none"{{end}}>
                        数字区间：>=
                        <input type="text" maxlength="50" name="startNumber" value="{{.startNumber}}"/><=
                        <input type="text" maxlength="50" name="endNumber" value="{{.endNumber}}"/>
                    </td>
                </tr>
                <tr>
                    <td style="color:red;" colspan="2">
                        <button type="submit">查询</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>


<div class="pageContent">
    <table class="list" width="100%" layoutH="138">
        <thead>
        <tr>
            {{if .columns}}
            {{range $k,$column:=.columns}}
            <th width="10%">
            {{if eq $column.Comment ""}}  {{$column.Name}}  {{else}}  {{$column.Comment}}{{ end}}
 </th>
            {{end}}
            {{end}}
            <th width="10%">操作</th>
        </tr>
        </thead>
        <tbody style="word-wrap:break-word;word-break:break-all">
        {{if .valAry}}
        {{range $k,$row :=.valAry}}
        <tr style="word-wrap:break-word;">
            {{if $row}}
            {{range $columnName,$columnVal:=$row}}
            <td title="{{$columnName}}">
                {{$columnVal | FormatInterface2Time}}
                    </td>
            {{end}}
            {{end}}
            <td>
               {{/*
                <a title="确实要删除这些记录吗？" target="ajaxTodo" style="display: none;" href="/DBManageController/remove?key={{$.perkey}}&{{$.perkey}}={{FormatMap $v $.perkey}}&tb_name={{$.db_tableName}}&ext_check={{$.db_tableName}}" warn="请选择一个操作对象"
                                  class="btnDel">删除</a>
                               <a target="dialog" href="/DBManageController/edit?key={{$.perkey}}&{{$.perkey}}={{FormatMap $v $.perkey}}&tb_name={{$.db_tableName}}&ext_check={{$.db_tableName}}" class="btnEdit"  width="800" height="650" resizable="false"
                                  warn="请选择一个操作对象" mask="true">编辑</a>
               */}}
            </td>
        </tr>
        {{end}}
        {{end}}
        </tbody>
    </table>
    <div class="panelBar">

        <div class="pages">
            <span>显示</span>
             <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                                     <option value="5" {{if eq .numPerPage 5}}selected{{end}}>5</option>
                                      <option value="15" {{if eq .numPerPage 15}}selected{{end}}>15</option>
                                       <option value="50" {{if eq .numPerPage 50}}selected{{end}}>50</option>
                                 </select>
            <span>条,共{{.totalCount}}条</span>
        </div>
        <div class="pagination" targetType="navTab" total_count="{{.totalCount}}" numPerPage="{{.numPerPage}}" page_indexShown="5"
             currentPage="{{.pageNum}}"></div>

    </div>
</div>
<script type="text/javascript">
func onChangeIdx(obj){

}

function onChangeIdxType(obj) {
formName="#table_name_"+obj.className;
   ctype =$(formName).find("#ctype option:selected").val();
   if (ctype=='0'){
    $(formName).find("#show_one").show();
    $(formName).find("#date_one").hide();
    $(formName).find("#number_one").hide();
   }else  if (ctype=='1'){
             $(formName).find("#show_one").hide();
             $(formName).find("#date_one").show();
             $(formName).find("#number_one").hide();
            }else  if (ctype=='2'){
                          $(formName).find("#show_one").hide();
                          $(formName).find("#date_one").hide();
                          $(formName).find("#number_one").show();
                         }
}


</script>