<form method="POST" action="/data_list/edit?pk_id={{.pk_id}}&table_name={{.tableName}}" class="pageForm required-validate"
      onsubmit="return iframeCallback(this, dialogAjaxDone);">
    <div class="pageFormContent" layoutH="56">
        <table>

            {{if .valAry}}
                {{range $k,$columnVal:=.valAry}}

                    {{if $.columns}}
                        {{range $kc,$column:=$.columns}}
                            {{if eq $k $kc}}
                                <tr>
                                    <td style="height: 25px;">

                                        {{if eq $column.Comment ""}}  {{$column.Name}}  {{else}}  {{LimitStrLen $column.Comment 25}} {{ end}}


                                        : </td>

                                    <td>

                                        {{if IsTime $columnVal $column.Name}}
                                            <input type="text" name="{{$column.Name}}" class="date" style="width: 200px" readonly="true" dateFmt="yyyy-MM-dd HH:mm:ss"
                                                   value="{{$columnVal | FormatInterface2Time}}"/>

                                        {{else if IsEnum $column.EnumOptions}}
                                            <select name="{{$column.Name}}" class="{{$.tableName}}" id="{{$column.Name}}">
                                                {{range $k,$v:=$column.EnumOptions}}
                                                    <option value="{{$k}}" {{if IsEqual $k $columnVal}}selected{{end}} >{{$k}}</option>
                                                {{end}}
                                            </select>
                                        {{else}}
                                            {{if IsUseTextarea $column.Name}}
                                                <textarea rows="3" cols="50" name="{{$column.Name}}" class="textInput" style="resize:none">{{$columnVal}}</textarea>
                                            {{else}}
                                                <input type="text" {{if $column.IsPrimaryKey}} {{if $column.IsAutoIncrement}} readonly="true" {{end}} {{end}}name="{{$column.Name}}" style="width: 300px" class="textInput" value="{{$columnVal}}"/>
                                            {{end}}
                                        {{end}}


                                    </td>
                                    <td>(字段名:{{$column.Name}} 类型:{{$column.DataType}})</td>
                                </tr>
                            {{end}}
                        {{end}}
                    {{end}}
                {{end}}
            {{end}}
        </table>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</form>